nav ul{
    list-style: none;
    color: #03648e;
}

main {
    text-align: center;
}

ol li{
    list-style-position: inside;
}

button{
    padding: 10px;
    background-color: #247BA0;
    color: white;
}

button:hover{
    color:#18536d;
}
#high-scores:hover{
    color:#0d2d3b;
    cursor: default;
}
#start{
    font-size: 24px;
}

.ansButtons{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

.ansButtons button{
    font-size: 18px;
}

.done-page{
    font-size: large;
}

label{
    margin-left: 35%;
}
#initials{
    font-size: 18px;
}

.score-page #back{
    margin-left: 40%;
}
.score-page #clear{
    margin-left: 7%;
}